
*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
html,body {
    margin:0;
    padding:0;
}
.header{
    color: white;
    display: flex;
}
.header-logo{
    background-color:black;
    width: 80%;
    float: left;
}
.header-end{
    background-color:black;
    width: 20%;
    float: right;
    height: auto;
}
#profile-photo{
    padding: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
    width: 150px;
    height: 150px;
}
#name{
    display: inline;
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    bottom: 70px;
}
.link{
    width: 50px;
    height: 50px;
    padding-right: 30px;
}
.searchbar{
    margin-top: 15px;
    width: 220px;
    margin-bottom: 15px;
}
.left-sidebar{
    float: left;
    width: 25%;
    background-color: gray;
    padding-bottom: 30px;
    overflow: auto;
}
.left-sidebar p{
    color: black;
    font-weight: bolder;
    font-size: larger;
    padding-top: 30px;
    padding-left: 30px;
}
.right-sidebar{
    float: left;
    width: 25%;
    background-color: gray;
    padding-left: 20px;
    overflow: auto;
    padding-top: 30px;
    text-align: justify;
}
.main{
    float: left;
    width: 50%;
    overflow: auto;
    text-align: justify;
    padding: 20px;
    padding-top: 30px;
}
h2{
    font-weight: bolder;
    font-size: larger;
}
.content{
    display: flex;
}
.footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 30px;
}
@media screen and (max-width: 1100px) {
    .searchbar{
        margin-bottom: 15px;
    }
    .header-logo{
        width: 77%;
    }
    .header-end{
        width: 23%;
    }
}
@media screen and (max-width: 1000px) {
    .searchbar{
        margin-bottom: 15px;
    }
    .header-logo{
        width: 72%;
    }
    .header-end{
        width: 28%;
    }
}
@media only screen and (max-width: 800px) {
    .header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header-logo{
        width: 100%;
        padding-left: calc(width - 5%);
    }
    .header-end{
        width: 100%;
        text-align: center;
    }
    .link{
        padding-right: 20px;
    }
    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .left-sidebar{
        width: 100%;
        padding: 5px;
    }
    .main{
        width: 100%;
        padding: 10px;
    }
    .right-sidebar{
        width: 100%;
        padding: 10px;
    }
}
@media only screen and (max-width: 600px){
    .header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header-logo{
        width: 100%;
        text-align: center;
    }
    .header-end{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    #profile-photo{
        text-align: center;
    }
    #name{
        display:flex;
        width: 100%;
        padding-top: 20px;
        margin-bottom: 0px;
        overflow: hidden;
        padding-left: 20px;
        text-align: center;
        justify-content: center;
    }
}
